<section class="contact">
    <h1 class="heading">Contact <span>Us</span></h1>
    <div class="row">
        <div class="image">
            <img src="assets/images/c.jpeg" alt="">
        </div>
        <form action="">
            <div class="inputBox">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
            </div>
            <div class="inputBox">
                <input type="email" placeholder="Email">
                <input type="number" placeholder="Number">
            </div>
            <textarea placeholder="Message"></textarea>
            <input type="submit" class="btn" value="Order Now">
        </form>
    </div>
</section>