<section class="about">
    <h1 class="heading"> why <span>choose us?</span> </h1>
    <div class="row">
        <div class="image">
            <img src="assets/images/about.jpg" alt="">
        </div>
        <div class="content">
            <h3> Best Coffee In The Country</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente voluptatibus beatae nostrum blanditiis ea vel magnam quaerat accusamus harum quod.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente voluptatibus beatae nostrum.</p>
            <a href="" class="btn">Learn More</a>
        </div>

    </div>
</section>
