<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Contact Info</h3>
        <a href=""><i class="fas fa-phone"></i> +123-456-7890</a>
        <a href=""><i class="fas fa-phone"></i> +123-456-7890</a>
        <a href=""><i class="fas fa-envelope"></i> coffeeshop@contact.com</a>
        </div>
        <div class="box">
            <h3>Quick Links</h3>
            <a routerLink=""><i class="fas fa-arrow-right"></i> Home</a>
            <a routerLink="review"><i class="fas fa-arrow-right"></i> Products</a>
            <a routerLink="contact"><i class="fas fa-arrow-right"></i> contact</a>
        </div>
        <div class="box">
            <h3>Newletter</h3>
            <input type="text" placeholder="  Email" class="email">
            <input type="submit" class="btn" value="Subscribe">
            
        </div>
    </div>
</section>