<app-banner></app-banner>
<section class="hero-section">
    <div class="section-content">
        <div class="hero-details">
            <h2 class="title">Best Coffee</h2>
          <h3 class="subtitle">Make your day great with our special coffee</h3>
          <p class="description">Welcome to our coffee paradise, where every bean tells a story and every cup sparks joy.</p>
          <div class="buttons">
            <a  class="btn">Order Now</a>
            <a class="contact-us">Contact Us</a>
          </div>
        </div>
          <div class="hero-image-wrapper"><img src="assets/images/homeim.jpg" alt="" class="hero-image"></div>
      
    </div>
</section>
