<section class="product">
    <h1 class="heading">New <span>Products</span></h1>
    <div class="pro-content">
        <div class="row">
            <img src="assets/images/n5.jpg" alt="">
            <div class="pro-text">
                <div class="pro-left">
                    <h4>Coffee Name</h4>
                </div>
                <div class="pro-right">
                    <h5>$10.00</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ratione</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            
        </div>
        <div class="row">
            <img src="assets/images/n2.jpeg" alt="">
            <div class="pro-text">
                <div class="pro-left">
                    <h4>Coffee Name</h4>
                </div>
                <div class="pro-right">
                    <h5>$10.00</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ratione</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            
        </div>
        <div class="row">
            <img src="assets/images/N3.jpeg" alt="">
            <div class="pro-text">
                <div class="pro-left">
                    <h4>Coffee Name</h4>
                </div>
                <div class="pro-right">
                    <h5>$10.00</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ratione</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            
        </div>
        <div class="row">
            <img src="assets/images/n4.jpg" alt="">
            <div class="pro-text">
                <div class="pro-left">
                    <h4>Coffee Name</h4>
                </div>
                <div class="pro-right">
                    <h5>$10.00</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ratione</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            
        </div>
    </div>

</section>

<section class="banner">
    <div class="row">
        <div class="content">
            <h3>Welcome to coffee shop</h3>
            <h2>Today's special coffee</h2>
            <a href=" " class="btn">Order now</a>
        </div>
        <div class="image">
            <img src="assets/images/product.jpg" alt="Coffee product">
        </div>
    </div>
   
</section>
