.banner-container {
    margin:180px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
    gap: .5rem; 
    padding: .5rem; 
}
.banner-container .banner{
    position: relative;
    height: 25rem;
    width: 30rem;
    overflow: hidden;
    border-radius:.5rem ;
    box-shadow: var(--boxshadow);
  }
  
  .banner-container .banner img{
    height: 100%;
    width: 125%;
    object-fit: cover;
  }
  .banner-container .banner img:hover{
  transform: scale(1.2);
  cursor: pointer;
  }
  .banner-container .banner .content{
   position: absolute;
   top: 50%;
   left: 2rem;
   transform: translateY(-50%);
 
    }
    .banner-container .banner .content h3{
        font-size: 2.8rem;
        color: #fff;
        margin-top: 15px;
    }
    .banner-container .banner .content span{
        font-size: 1.8rem;
        padding-top: .5rem;
        color: #d9d9d9;
    }
    .btn {
        display: inline-block;
        padding: 0.8rem 2.5rem;
        font-size: 1.7rem;
        background-color: rgb(237, 182, 81);
        border-radius: 0.5rem;
        border: 0.2rem solid rgb(237, 182, 81);
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        align-items: center;
    }
     .btn:hover{
        color: #fff;
        border-color: rgb(237, 182, 81);
        background-color: transparent;
     }